body {
  font-family: 'Stolzl', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $color-dark;
  overflow-x: hidden;
}

.body--hidden {
  overflow: hidden;
}

.container {
  max-width: 1245px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 0px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.title {
  font-size: 54px;
  font-weight: 700;
  color: $color-dark;
  text-align: center;
  position: relative;

  &--border {
    &::after {
      content: "";
      width: 183px;
      height: 5px;
      border-radius: 5px;
      background-color: $color-orange;
      position: absolute;
      left: 50%;
      bottom: -28px;
      transform: translateX(-50%);

      @include mobile {
        width: 100px;
        bottom: -20px;
      }
    }
  }

  @include tablet {
    font-size: 38px;
  }

  @include small-tablet {
    font-size: 20px;
  }

  @include mobile {
    font-size: 18px;
  }
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 18px;
  background: #FFAA6B;
  border-radius: 20px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 1);
  text-align: center;
}

.centered {
  text-align: center;
}