.feedback {
  padding-top: 130px;
  padding-bottom: 45px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
  }

  &__left {
    max-width: 410px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 15px;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 34px;
    text-align: left;
    margin-bottom: 11px;
  }

  &__descr {
    font-size: 20px;
    padding-right: 30px;
    margin-bottom: auto;
  }

  &__list {
    max-width: 308px;
    position: relative;

    &::after {
      content: "";
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background-color: $color-white;
      position: absolute;
      left: -20%;
      top: -50%;
      z-index: -1;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__benefit {
    padding-left: 20px;
    background-image: url('../images/icons/apply.svg');
    background-position: left center;
    background-size: 12px 8px;
    background-repeat: no-repeat;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__master {
    width: 21%;
    // display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    position: absolute;
    top: 4%;
    right: 21%;
    bottom: 0;
    z-index: 1;
    display: none;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    display: inline-block;
    max-width: 285px;
    text-align: center;
    border-radius: 30px;
    background-color: $color-white;
    margin-bottom: 50px;

    span {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

.form {
  max-width: 420px;
  width: 100%;
  padding: 20px 25px;
  text-align: center;
  background-color: $color-grey;
  border-radius: 30px;

  &__title {
    font-size: 20px;
    margin-bottom: 14px;
  }

  &__descr {
    font-size: 15px;
    margin-bottom: 28px;
  }

  &__label {
    display: block;
    max-width: 320px;
    width: 100%;
    margin-bottom: 15px;
  }

  &__input {
    width: 100%;
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__apply {
    margin-bottom: 14px;
  }

  &__apply {
    max-width: 190px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  &__box {
    position: relative;
  }

  &__check {
    width: 1 px;
    height: 1 px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }

  .form__check:checked+.form__checkbox {
    background-image: url(../images/icons/arrow-right.svg);
    border-color: $color-dark;
  }

  &__checkbox {
    width: 10px;
    height: 10px;
    border: 1px solid $color-dark;
    background-color: $color-grey;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
  }

  &__text {
    font-weight: 300;
    font-size: 9px;
  }

  &__contacts {
    max-width: 190px;
    display: flex;
    flex-direction: column;

    span {
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 14px;
    }
  }
}