.scheme {
  padding-top: 50px;
  padding-bottom: 66px;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 3%);
  background-color: #373738;

  &__title {
    font-size: 58px;
    color: $color-white;
    margin-bottom: 28px;

    span {
      color: #FFAA6B;
    }
  }

  &__descr {
    max-width: 770px;
    margin: 0 auto;
    font-size: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 28px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &__box {
    width: 400px;
    height: 100%;
    padding: 8px;
    padding-bottom: 10px;
    border: 1px dashed #6C6C6C;
    border-radius: 30px;

    &--online {
      .scheme__subtitle {
        margin-bottom: 10px;
      }
    }
  }

  &__img {
    max-width: 380px;
    height: 176px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    text-align: center;
    padding: 0 10px;
  }

  &__num {
    display: inline-block;
    font-size: 115px;
    padding-left: 55px;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 170, 107, 0.4);
    background-image: url('../images/icons/arrow-scheme.svg');
    background-size: 40px;
    background-position: left center;
    background-repeat: no-repeat;
  }


  &__subtitle {
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: $color-white;
    margin-bottom: 21px;
  }

  &__phone {
    font-size: inherit;
    font-weight: inherit;
  }

  &__link {
    display: inline-block;
    padding: 8px 76px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 3px;
    color: #000000;
    position: relative;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #14B111;
      position: absolute;
      top: 13px;
      margin-left: -20px;
    }
  }

  &__text {
    max-width: 283px;
    margin: 0 auto;
    padding-left: 3px;
    color: #FFFFFF;
    background-image: url('../images/icons/benefit.svg');
    background-size: 11px 5px;
    background-position: left top 6px;
    background-repeat: no-repeat;
  }
}